.chip {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 2px;
  font-size: 14px;
  text-align: center;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  color: white;
}

.chip-sub {
  color: black;
  background-color: white;
}

.public-chip {
  background-color: var(--blue-600);
}

.public-chip-sub {
  background-color: #0468B134;
}

.private-chip {
  background-color: #02A38A;
}

.private-chip-sub {
  background-color: #02a38b34;
}

.inffs-chip {
  background-color: #E78625;
}


.academy-chip {
  background-color: #757AF0;
}


.biofin-chip {
  background-color: #E0529E;
}

.customCard h6 {
    margin: 0;
}
.customCard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.customCardTop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.customCard p {
  font-size: 16px;
  margin-bottom: 2px;
}

.cta-button {
  text-transform: uppercase;
  margin-top: 2.5rem;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.cta-button::after {
  content: '';
  border-right: 2px solid #ee402d;
  border-top: 2px solid #ee402d;
  height: 10px;
  right: 0;
  top: 2px;
  transform: rotate(45deg);
  margin-left: 4px;
  width: 10px;
}

.undp-viz-modal-content {
  padding: .75rem!important;
}

.undp-viz-modal-content h6 {
  margin-bottom: 4px;
}

.undp-viz-modal-content .chips{
  margin-bottom: 24px;
}
.customCard .chips{
  margin-bottom: 0px;
}

.modal-table {
  width: 100%;
  border-collapse: collapse;
}

.modal-table th,
.modal-table td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

.modal-table th {
  font-weight: bold;
  font-size: 14px;
  background-color: var(--gray-300);
  border-bottom: none;
}